<button class="close-window pull-right" ng-click="close()" >X</button>
<div role="document" class="modal-dialog modal-md">
    <div class="modal-content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="butRegLogWrap">
                    <button class="logRegBut active" modal="auth">войти</button>
                    <button id="toRegis" class="logRegBut" modal="register">регистрация</button>
                </div>
                <div class="inputRegLogWrap">
                    <input placeholder="Эл.почта" ng-model="user.email"/>
                    <input placeholder="Пароль" ng-model="user.password"/>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="error">
                        <p class="text-center">{{error}}</p>
                    </div>
                    <button class="btn-drul dark" ng-click="login()">Войти</button>
                </div>
            </div>
        </div>
    </div>
</div>




