<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
<div role="document" class="modal-dialog modal-md">
    <div class="modal-content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="butRegLogWrap">
                    <button id="toLogin" class="logRegBut" data-modal="auth">войти</button>
                    <button class="logRegBut active" data-modal="register">регистрация</button>
                </div>
                <div class="inputRegLogWrap">
                    <input placeholder="Имя"/>
                    <input placeholder="Фамилия"/>
                    <input placeholder="Эл. почта"/>
                    <input placeholder="Моб. номер"/>
                    <button class="btn-drul dark">Зарегистрироваться</button>
                </div>
            </div>
        </div>
    </div>
</div>