section.content-wrapper(role="main")
    div.content
        div.content-bar
            div.pull-right(role="group")
                a.btn.btn-nofill.btn-sm.btn-default(data-toggle="modal" data-scripts="_includes/setups.js" data-target="#templateSetup" title="Template Setups" aria-label="template setups" href="#")
                    span.icon-settings.fa-lg.text-muted

            ul.breadcrumb.breadcrumb-angle
                li
                    i.fa.fa-home

        div.content-body

        div.modal.fade#templateSetup
            div.modal-dialog
                div.modal-content