extends ../layout/mainAdmin
block content
    include ../mixins/mixins
    section.content-wrapper(role="main")
        div.content
            div.content-bar
                div.pull-right(role="group")
                    a.btn.btn-nofill.btn-sm.btn-default(data-toggle="modal" data-scripts="_includes/setups.js" data-target="#templateSetup" title="Template Setups" aria-label="template setups" href="#")
                        span.icon-settings.fa-lg.text-muted

                ul.breadcrumb.breadcrumb-angle
                    li
                        a(href="/admin" aria-label="home")
                            i.fa.fa-home
                    li.active Категории

            div.content-body
                div.dataTables_wrapper.form-inline.dt-bootstrap
                    table.table.table-noborder.table-hover.tree.dataTable.bordered-top#categtable
                        thead
                            tr
                                th Название
                                th Уровень
                        tbody
                            //tr.treegrid-1
                            //    td Обувь
                            //    td Основная
                            //    td
                            //        button.btn.btn-danger.pull-right(type="button" aria-label="icon support circle nofill")
                            //            i.fa.fa-times
                            //        button.btn.btn-default.pull-right(type="button" aria-label="icon note circle")
                            //            i.icon-note
                            //tr.treegrid-2.treegrid-parent-1
                            //    td Женская обувь
                            //    td Дополнительная
                            //    td
                            //        button.btn.btn-danger.pull-right(type="button" aria-label="icon support circle nofill")
                            //            i.fa.fa-times
                            //tr.treegrid-3.treegrid-parent-1
                            //    td Мужская обувь
                            //    td Дополнительная
                            //    td
                            //        button.btn.btn-danger.pull-right(type="button" aria-label="icon support circle nofill")
                            //            i.fa.fa-times
                            //tr.treegrid-4
                            //    td Одежда
                            //    td Основная
                            //    td
                            //        button.btn.btn-danger.pull-right(type="button" aria-label="icon support circle nofill")
                            //            i.fa.fa-times
                            //        button.btn.btn-default.pull-right(type="button" aria-label="icon note circle")
                            //            i.icon-note
                            //tr.treegrid-5.treegrid-parent-4
                            //    td Детская одежда
                            //    td Дополнительная
                            //    td
                            //        button.btn.btn-danger.pull-right(type="button" aria-label="icon support circle nofill")
                            //            i.fa.fa-times
                            //
                            //
                        tfoot
                            tr
                                th Rendering Email
                                th Rendering Link
                        //div.modal.fade#templateSetup
                        //    div.modal-dialog
                        //        div.modal-content

