extends ../layout/mainAdmin
block content
    include ../mixins/mixins
    //aside.sidebar(role="complementary")
    //    div.sidebar-bnodemilock
    //        div.media
    //            div.media-left
    //                a(href="page-profile.html")
    //                    span.status.dotted.dotted-primary(data-toggle="tooltip", data-container="body", title="", data-original-title="available")
    //                    img.media-object.img-circle(src="/images/ava/uifaces5.jpg", alt="photo profile")
    //            div.media-body
    //                h4.media-heading Emma Greene
    //                p.text-muted
    //                    small Graphic Designer
    //    div.nav-wrapper
    //        ul.nav.nav-stacked(role="navigation")
    //            +navAdmin('Категории', 'categ')
    //            +navAdmin('Товары', 'tovs')
    //            +navAdmin('Пользователи', 'users')(class="active")
    //            +navAdmin('Заявки', 'reqs')
    //            +navAdmin('Акции', 'stocks')
    //            +navAdmin('Валюты', 'curr')
    //            +navAdmin('Доставка', 'deliv')
    //            +navAdmin('Отзывы', 'com')
    section.content-wrapper(role="main")
        div.content
            div.content-bar
                div.pull-right(role="group")
                    a.btn.btn-nofill.btn-sm.btn-default(data-toggle="modal" data-scripts="_includes/setups.js" data-target="#templateSetup" title="Template Setups" aria-label="template setups" href="#")
                        span.icon-settings.fa-lg.text-muted

                ul.breadcrumb.breadcrumb-angle
                    li
                        a(href="/admin" aria-label="home")
                            i.fa.fa-home
                    li
                        a(href="/admin/users" aria-label="home") Пользователи
                    li.active Детaли
                div.content-hero
                    div.row
                        div.col-lg-6
                            div.clearfix
                                //div.float-bar-brand
                                //    a.kit-avatar.kit-avatar-128.no-padding.border-white(href="#")
                                //    img(alt="cover" src="images/dummy/uifaces22.jpg")
                            div.col-sm-8
                                div.hidden-xs
                                    h2.display-name.media-heading.text-teal #{data.email}
                                    p.text-muted.mb-4x
                                        span.mr-2x Покупатель
                                        span <i class="fa fa-map-marker fa-fw"></i> Страна
                                div.mt-4x
                                    p About donald ab officia facilis laudantium provident quas, doloremque, dicta doloribus non repudiandae!
                                    p
                                        a.btn.btn-danger.btn-sm.btn-circle(href="#" aria-label="google plus")
                                            i.fa.fa-lg.fa-google-plus
                                        a.btn.btn-primary.btn-sm.btn-circle.ml-1x(href="#" aria-label="instagram")
                                            i.fa.fa-lg.fa-instagram
                                        a.btn.btn-info.btn-sm.btn-circle.ml-1x(href="#" aria-label="twitter")
                                            i.fa.fa-lg.fa-twitter
                                        a.btn.btn-success.btn-sm.btn-circle.ml-1x(href="#" aria-label="facebook")
                                            i.fa.fa-lg.fa-facebook
                        div.col-lg-6
                            h4.text-muted Статистика
                                div.row
                                    div.col-xs-3
                                        span.headline
                                            strong 68
                                        p Товары
                                    div.col-xs-3
                                        span.headline
                                            strong 23
                                        p Заказы
                                    div.col-xs-3
                                        span.headline
                                            strong 1,2K
                                        p Просмотры
                                    div.col-xs-3
                                        span.headline
                                            strong 26
                                        p Сообщения
                    div.btn-group.btn-group-sm.pull-right
                        button.btn.btn-default.datatables1-actions#edit-detailUser(data-toggle="tooltip" data-container="body" title="edit profile" role="button")
                            i.fa.fa-edit
                        button.btn.btn-default.datatables1-actions#delete-detailUser(data-toggle="tooltip" data-container="body" title="delete profile" role="button")
                            i.fa.fa-trash-o
                    div.panel-body.borderTop.hide#editUserInfoContainer
                        form#formEditUserInfo(action="#" method="POST")
                            div.form-group
                                p.lead Edit selected row
                                div.row
                                    div.col-md-3
                                        div.form-group
                                            input#datatables2ID(type="hidden" name="datatables1ID")
                                            input.form-control.input-sm#edit1Engine(name="editEngine" placeholder="Rendering engine" autocomplete="off" required="")
                                    div.col-md-3
                                        div.form-group
                                            input.form-control.input-sm#edit1Browser(name="editBrowser" placeholder="Browser" autocomplete="off" required="")
                                    div.col-md-2
                                        div.form-group
                                            input.form-control.input-sm#edit1Platform(name="editPlatform" placeholder="Platform" autocomplete="off" required="")
                                    div.col-md-2
                                        div.form-group
                                            input.form-control.input-sm#edit1Version(name="editVersion" placeholder="Engine version" autocomplete="off" required="")
                                    div.col-md-2
                                        div.form-group
                                            label.select.select-sm
                                                select#edit1Grade(name="editGrade" required="")
                                                    option(value="") CSS grade
                                                    option(value="A") A
                                                    option(value="B") B
                                                    option(value="C") C
                                                    option(value="D") D
                                                    option(value="E") E
                                                    option(value="X") X
                                                    option(value="C/A1") C/A
                                                        sup 1
                                        div.form-group
                                            button.btn.btn-default.btn-sm#hideEditUserInfo Cancel
                                            button.btn.btn-primary.btn-sm(type="submit") Save Chang

                    +errorMessage()
            div.content-body
                div.panel(data-fill-color="true")
                    div.panel-heading
                        div.panel-control.pull-right
                            a.btn.btn-icon(href="#"  data-toggle="panel-refresh" rel="tooltip" data-placement="bottom" title="refresh")
                                i.icon-refresh
                            a.btn.btn-icon(href="#"  data-toggle="panel-expand" rel="tooltip" data-placement="bottom" title="expand")
                                i.arrow_expand
                            a.btn.btn-icon(href="#" data-toggle="panel-collapse" rel="tooltip" data-placement="bottom" title="collapse")
                                i.icon_minus_alt2
                        h3.panel-title Список заказов
                    div.panel-body
                        div.btn-toolbar.clearfix(role="toolbar")
                            div.btn-group.pull-right(style="direction: ltr")
                                label.text-muted(style="margin-right:10px") Multiple select:
                                input#allowMultipleSelect.js-switch(type="checkbox" data-class-name="switchery switchery-alt")
                            div.btn-group.btn-group-sm.pull-left
                                button.btn.btn-default#add-datatables1(data-toggle="tooltip" data-container="body" title="add new record" role="button")
                                    i.fa.fa-plus
                            div.btn-group.btn-group-sm.pull-left
                                button.btn.btn-default.datatables1-actions.disabled#edit-datatables1(data-toggle="tooltip" data-container="body" title="edit record" role="button")
                                    i.fa.fa-edit
                                button.btn.btn-default.datatables1-actions.disabled#delete-datatables1(data-toggle="tooltip" data-container="body" title="delete record(s)" role="button")
                                    i.fa.fa-trash-o
                            div.btn-group.pull-left
                                input.form-control.input-sm#filterDatatables1(placeholder="Filter")
                    div.panel-body.hide#addFormContainer
                        form#formAddDatatables1(action="#" method="POST")
                            div.form-group
                                p.lead Add new record
                                div.row
                                    div.col-md-3
                                        div.form-group
                                            input.form-control.input-sm#addEngine(name="email" placeholder="User email" autocomplete="off" required="")
                                    //div.col-md-3
                                    //    div.form-group
                                    //        input.form-control.input-sm#addBrowser(name="index" placeholder="index" autocomplete="off" required="")
                                    //div.col-md-2
                                    //    div.form-group
                                    //        input.form-control.input-sm#addPlatform(name="addPlatform" placeholder="Platform" autocomplete="off" required="")
                                    //div.col-md-2
                                    //    div.form-group
                                    //        input.form-control.input-sm#addVersion(name="addVersion" placeholder="Engine version" autocomplete="off" required="")
                                    //div.col-md-2
                                    //    div.form-group
                                    //        label.select.select-sm
                                    //            select#addGrade(name="addGrade" required="")
                                    //                option(value="") CSS grade
                                    //                option(value="A") A
                                    //                option(value="B") B
                                    //                option(value="C") C
                                    //                option(value="D") D
                                    //                option(value="E") E
                                    //                option(value="X") X
                                    //                option(value="C/A1") C/A
                                    //                    sup 1
                            div.form-grouphide
                                button.btn.btn-default.btn-sm#hideAddDatatables1 Cancel
                                button.btn.btn-success.btn-sm(type="submit") Create
                    div.panel-body.hide#editFormContainer
                        form#formEditDatatables1(action="#" method="POST")
                            div.form-group
                                p.lead Edit selected row
                                div.row
                                    div.col-md-3
                                        div.form-group
                                            input#datatables1ID(type="hidden" name="datatables1ID")
                                            input.form-control.input-sm#editEngine(name="editEngine" placeholder="Rendering engine" autocomplete="off" required="")
                                    div.col-md-3
                                        div.form-group
                                            input.form-control.input-sm#editBrowser(name="editBrowser" placeholder="Browser" autocomplete="off" required="")
                                    div.col-md-2
                                        div.form-group
                                            input.form-control.input-sm#editPlatform(name="editPlatform" placeholder="Platform" autocomplete="off" required="")
                                    div.col-md-2
                                        div.form-group
                                            input.form-control.input-sm#editVersion(name="editVersion" placeholder="Engine version" autocomplete="off" required="")
                                    div.col-md-2
                                        div.form-group
                                            label.select.select-sm
                                                select#editGrade(name="editGrade" required="")
                                                    option(value="") CSS grade
                                                    option(value="A") A
                                                    option(value="B") B
                                                    option(value="C") C
                                                    option(value="D") D
                                                    option(value="E") E
                                                    option(value="X") X
                                                    option(value="C/A1") C/A
                                                        sup 1
                                        div.form-group
                                            button.btn.btn-default.btn-sm#hideEditDatatables1 Cancel
                                            button.btn.btn-primary.btn-sm(type="submit") Save Change

                table.table.table-noborder.table-hover.bordered-top#datatables1
                    thead
                        tr
                            //th №
                            th Email
                    tbody
                    tfoot
                        tr
                            //th Rendering №
                            th Rendering Email

            div.content-body
            select#currency
                option(value='$' selected) $
                option(value='UAH') UAH
            button(onClick="user.save(event.target.id)" id="#{data.uuid}") Save
            p #{JSON.stringify(data)}