<section role="main" class="content-wrapper">
    <div class="content">
        <div class="content-bar">
            <div role="group" class="pull-right"><a data-toggle="modal" data-scripts="_includes/setups.js" data-target="#templateSetup" title="Template Setups" aria-label="template setups" href="#" class="btn btn-nofill btn-sm btn-default"><span class="icon-settings fa-lg text-muted"></span></a></div>
            <ul class="breadcrumb breadcrumb-angle">
                <li><i class="fa fa-home"></i></li>
            </ul>
        </div>
        <div class="content-body"></div>
        <div id="templateSetup" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content"></div>
            </div>
        </div>
    </div>
</section>