<nav class="header navbar">
    <div class="container-fluid">
        <div class="pull-left"><a href="index.html" role="logo" aria-label="Logo" class="navbar-brand"><img src="images/logo/brand-text-dark.png" alt="Brand" class="logo"/></a>
            <button data-sidebar="toggleVisible" class="btn btn-icon navbar-btn"><i class="fa fa-bars"></i><i class="fa fa-caret-down"></i></button>
        </div>
        <div role="navigation" class="pull-right"><a aria-label="Search" id="brandSearchNav" href="#" class="btn btn-icon navbar-btn"><i class="fa fa-search"></i></a><a aria-label="Signout" href="#" class="btn btn-icon navbar-btn"><i class="fa fa-sign-out"></i></a></div>
        <div id="brandSearchFrm" class="brand-search">
            <form action="#" role="search"><a href="#" class="search-close">&times;</a>
                <input placeholder="Search for everything you want..." tabindex="-1" class="search-field"/>
            </form>
        </div>
    </div>
</nav>