<div class="prevs">
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="cutTime">
                <!--Currency-->
                <li id="currency" class="current">
                    <currency></currency>
                </li>
                <li class="icon">
                    <div class="s-4"></div>
                </li>
                <li class="time">
                    <p>09:00 - 17:00</p>
                </li>
                <li id="clock" class="placeTime">
                    <p>Киев 00:39</p>
                </li>
                <li class="singIn pull-right">
                    <button type="button" class="btn btn-drul dark" data-modal="auth">войти</button>
                </li>
                <li class="singUp pull-right">
                    <button type="button" class="btn btn-drul" data-modal="register">регистрация</button>
                </li>
                <li class="icon iconRig pull-right">
                    <div class="s-3"></div>
                </li>
                <li class="icon iconRig pull-right">
                    <div class="s-2"></div>
                </li>
                <li class="icon iconRig pull-right">
                    <div class="s-1"></div>
                </li>
            </ul>
        </div>
    </div>
</div>