<div class="navv compact">
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="logoWrapper">
                <div class="logo"></div>
            </div>
            <ul class="navigation">
                <li>одежда</li>
                <li>аксессуары</li>
                <li>сумки</li>
                <li>обувь</li>
            </ul>
            <section>
                <!--span.tooltip-->
                <div id="slider">
                    <rzslider rz-slider-model="$ctrl.volumeSlider.value" rz-slider-options="$ctrl.volumeSlider.options"></rzslider>
                </div>
                <div class="volume" ng-class="$ctrl.volume"></div>
            </section>
        </div>
    </div>
</div>