extends ../layout/layout
block content
    include ../mixins/mixins
    div.main
        div.container-fluid
            div.col-lg-3.col-md-3.col-sm-3.col-xs-3
                div.minMaxCost
                    h1 Цена(UAH)
                    div.minMaxWrapper
                        div.minMaxInputWrapper
                            label от
                            input(type="text" value="" placeholder="100")
                        div.minMaxInputWrapper
                            label до
                            input(type="text" value="" placeholder="12111")
                    div.checkbo
                        input(type="checkbox" id="123" name="option" value="a")
                        label(for="123")
                        span В наличии
                div.accordion
                    h1 Бренд
                    div.scroll
                        div.checkbo
                            input(type="checkbox" id="1" name="option" value="a")
                            label(for="1")
                            span Checkbox No. 1
                        div.checkbo
                            input(type="checkbox" id="11" name="option" value="a")
                            label(for="11")
                            span Checkbox No. 1
                        div.checkbo
                            input(type="checkbox" id="111" name="option" value="a")
                            label(for="111")
                            span Checkbox No. 1
                        div.checkbo
                            input(type="checkbox" id="1111" name="option" value="a")
                            label(for="1111")
                            span Checkbox No. 1
                        div.checkbo
                            input(type="checkbox" id="11111" name="option" value="a")
                            label(for="11111")
                            span Checkbox No. 1
                        div.checkbo
                            input(type="checkbox" id="12" name="option" value="a")
                            label(for="12")
                            span Checkbox No. 1
                        div.checkbo
                            input(type="checkbox" id="112" name="option" value="a")
                            label(for="112")
                            span Checkbox No. 1
                        div.checkbo
                            input(type="checkbox" id="1112" name="option" value="a")
                            label(for="1112")
                            span Checkbox No. 1
                        div.checkbo
                            input(type="checkbox" id="11112" name="option" value="a")
                            label(for="11112")
                            span Checkbox No. 1
                        div.checkbo
                            input(type="checkbox" id="111112" name="option" value="a")
                            label(for="111112")
                            span Checkbox No. 1
                        div.checkbo
                            input(type="checkbox" id="13" name="option" value="a")
                            label(for="13")
                            span Checkbox No. 1
                        div.checkbo
                            input(type="checkbox" id="113" name="option" value="a")
                            label(for="113")
                            span Checkbox No. 1
                        div.checkbo
                            input(type="checkbox" id="1113" name="option" value="a")
                            label(for="1113")
                            span Checkbox No. 1
                        div.checkbo
                            input(type="checkbox" id="11113" name="option" value="a")
                            label(for="11113")
                            span Checkbox No. 1
                        div.checkbo
                            input(type="checkbox" id="111113" name="option" value="a")
                            label(for="111113")
                            span Checkbox No. 1
                    h1 Размер
                    div
                        div.checkbo
                            input(type="checkbox" id="2" name="option" value="a")
                            label(for="2")
                            span Checkbox No. 2
                        div.checkbo
                            input(type="checkbox" id="22" name="option" value="a")
                            label(for="22")
                            span Checkbox No. 2
                        div.checkbo
                            input(type="checkbox" id="222" name="option" value="a")
                            label(for="222")
                            span Checkbox No. 2
                        div.checkbo
                            input(type="checkbox" id="2222" name="option" value="a")
                            label(for="2222")
                            span Checkbox No. 2
                        div.checkbo
                            input(type="checkbox" id="22222" name="option" value="a")
                            label(for="22222")
                            span Checkbox No. 2
                    h1 Цвет
                    div
                        div.checkbo
                            input(type="checkbox" id="3" name="option" value="a")
                            label(for="3")
                            span Checkbox No. 3
                        div.checkbo
                            input(type="checkbox" id="33" name="option" value="a")
                            label(for="33")
                            span Checkbox No. 3
                        div.checkbo
                            input(type="checkbox" id="333" name="option" value="a")
                            label(for="333")
                            span Checkbox No. 3
                        div.checkbo
                            input(type="checkbox" id="3333" name="option" value="a")
                            label(for="3333")
                            span Checkbox No. 3
                        div.checkbo
                            input(type="checkbox" id="33333" name="option" value="a")
                            label(for="33333")
                            span Checkbox No. 3
                    h1 Аксессуары
                    div
                        div.checkbo
                            input(type="checkbox" id="4" name="option" value="a")
                            label(for="4")
                            span Checkbox No. 4
                        div.checkbo
                            input(type="checkbox" id="44" name="option" value="a")
                            label(for="44")
                            span Checkbox No. 4
                        div.checkbo
                            input(type="checkbox" id="444" name="option" value="a")
                            label(for="444")
                            span Checkbox No. 4
                        div.checkbo
                            input(type="checkbox" id="4444" name="option" value="a")
                            label(for="4444")
                            span Checkbox No. 4
                        div.checkbo
                            input(type="checkbox" id="44444" name="option" value="a")
                            label(for="44444")
                            span Checkbox No. 4
                    h1 Сезон
                    div
                        div.checkbo
                            input(type="checkbox" id="5" name="option" value="a")
                            label(for="5")
                            span Checkbox No. 5
                        div.checkbo
                            input(type="checkbox" id="55" name="option" value="a")
                            label(for="55")
                            span Checkbox No. 5
                        div.checkbo
                            input(type="checkbox" id="555" name="option" value="a")
                            label(for="555")
                            span Checkbox No. 5
                        div.checkbo
                            input(type="checkbox" id="5555" name="option" value="a")
                            label(for="5555")
                            span Checkbox No. 5
                        div.checkbo
                            input(type="checkbox" id="55555" name="option" value="a")
                            label(for="55555")
                            span Checkbox No. 5
                    h1 Состав
                    div
                        div.checkbo
                            input(type="checkbox" id="6" name="option" value="a")
                            label(for="6")
                            span Checkbox No. 6
                        div.checkbo
                            input(type="checkbox" id="66" name="option" value="a")
                            label(for="66")
                            span Checkbox No. 6
                        div.checkbo
                            input(type="checkbox" id="666" name="option" value="a")
                            label(for="666")
                            span Checkbox No. 6
                        div.checkbo
                            input(type="checkbox" id="6666" name="option" value="a")
                            label(for="6666")
                            span Checkbox No. 6
                        div.checkbo
                            input(type="checkbox" id="66666" name="option" value="a")
                            label(for="66666")
                            span Checkbox No. 6
            div.col-lg-9.col-md-9.col-sm-9.col-xs-9
                div.sort
                    span Сортировать:
                    a по популярности
                    a по цене
                    a по рейтингу
                    a по отзывам
                    a по новизне
                div.row
                    div.col-lg-4.col-md-4.col-sm-6.col-xs-12
                        div.goodsBlock(data-toggle="modal" data-target=".bs-example-modal-lg")
                            div.marker.red sale
                            img.img-responsive.cover(src="images/11.png")
                            div.namePrice
                                div Артикул 30530101
                                p Пальто mango
                                hr.line
                                span 2700 грн
                                strike 3100 грн
                    div.col-lg-4.col-md-4.col-sm-6.col-xs-12
                        div.goodsBlock
                            div.marker.green -30%
                            img.img-responsive.cover(src="images/11.png")
                            div.namePrice
                                div Артикул 30530101
                                p Пальто mango
                                hr.line
                                span 2700 грн
                                strike 3100 грн
                    div.col-lg-4.col-md-4.col-sm-6.col-xs-12
                        div.goodsBlock
                            div.marker.blue new
                            img.img-responsive.cover(src="images/11.png")
                            div.namePrice
                                div Артикул 30530101
                                p Пальто mango
                                hr.line
                                span 2700 грн
                    div.col-lg-4.col-md-4.col-sm-6.col-xs-12
                        div.goodsBlock
                            div.marker.red sale
                            img.img-responsive.cover(src="images/11.png")
                            div.namePrice
                                div Артикул 30530101
                                p Пальто mango
                                hr.line
                                span 2700 грн
                                strike 3100 грн
                div.row
                    div.col-lg-12.col-md-12.col-sm-12.col-xs-12.center
                        div.paginat
                div.modal.fade.bs-example-modal-lg(tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel")
                    div.modal-dialog.modal-lg.modal-sizeLg(role="document")
                        div.modal-content.card
                            div.row
                                div.col-lg-5.col-md-5.col-sm-5.col-xs-12
                                    div.sp-wrap
                                        a(href="images/123.jpg")
                                            img(src="images/123.jpg" alt="")
                                        a(href="images/1.jpg")
                                            img(src="images/1_tb.jpg" alt="")
                                        a(href="images/2.jpg")
                                            img(src="images/2_tb.jpg" alt="")
                                        a(href="images/3.jpg")
                                            img(src="images/3_tb.jpg" alt="")
                                        a(href="images/4.jpg")
                                            img(src="images/4_tb.jpg" alt="")
                                        a(href="images/5.jpg")
                                            img(src="images/5_tb.jpg" alt="")
                                        a(href="images/6.jpg")
                                            img(src="images/6_tb.jpg" alt="")
                                div.col-lg-7.col-md-7.col-sm-7.col-xs-12
                                    div.row
                                        div.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                            p.categCard Женские пальто | Maria Veneda
                                            div.artNameCard
                                                div Артикул 30530101
                                                p Пальто Maria Veneda
                                            div.descriptionCard
                                                | Очаровательное, изысканное и стильное женское пальто, которое непременно
                                                | займет достойное место в гардеробе ценительниц по-настоящему женственных
                                                | и элегантных вещей. Безукоризненно простой фасон подходит к любой фигуре,
                                                | а также обеспечивает универсальность и удобство.
                                            div.priceCard
                                                span 2700 грн
                                                strike 3100 грн
                                            hr.marCard
                                            div.sizeCard Размер
                                                div.sizeCardDis
                                                    div.checkbo
                                                        input(type="checkbox" id="144" name="option" value="a")
                                                        label(for="144")
                                                        span 44
                                                    div.checkbo
                                                        input(type="checkbox" id="146" name="option" value="a")
                                                        label(for="146")
                                                        span 46
                                                    div.checkbo
                                                        input(type="checkbox" id="148" name="option" value="a")
                                                        label(for="148")
                                                        span 48
                                                    div.checkbo
                                                        input(type="checkbox" id="150" name="option" value="a")
                                                        label(for="150")
                                                        span 50
                                                    div.checkbo
                                                        input(type="checkbox" id="152" name="option" value="a")
                                                        label(for="152")
                                                        span 52
                                                    div.checkbo
                                                        input(type="checkbox" id="154" name="option" value="a")
                                                        label(for="154")
                                                        span 54
                                            div.buttonsCard
                                                button.btn.btn-drul.dark(type="button") оформить заказ
                                                button.btn.btn-drul(type="button") <div class="fa fa-heart-o"></div> отложить


                            div.row
                                div.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                    ul.nav.nav-tabs(role="tablist")
                                        li.active(role="presentation")
                                            a(href="#about" aria-controls="home" role="tab" data-toggle="tab") О товаре
                                        li(role="presentation")
                                            a(href="#comm" aria-controls="profile" role="tab" data-toggle="tab") Отзывы
                                    div.tab-content
                                        div.tab-pane.active#about(role="tabpanel")
                                            div.row
                                                div.col-lg-12.col-md-12.col-sm-12.col-xs-12
                                                    table.table
                                                        tbody
                                                            tr
                                                                td Состав
                                                                td Шерсть - 56%, Вискоза - 44%
                                                            tr
                                                                td Длина рукава
                                                                td 57 см
                                                            tr
                                                                td Длина
                                                                td 105 см
                                                            tr
                                                                td Размер модели на фото
                                                                td 42
                                                            tr
                                                                td Рукав
                                                                td длинный
                                                            tr
                                                                td Цвет
                                                                td бежевый
                                                            tr
                                                                td Застежка
                                                                td на пуговицах
                                                            tr
                                                                td Сезон
                                                                td Зима, Демисезон
                                                            tr
                                                                td Коллекция
                                                                td Осень-зима
                                                            tr
                                                                td Карманы
                                                                td 2
                                        div.tab-pane#comm(role="tabpanel") 222