extends ../layout/layout
block content
    include ../mixins/mixins
    div.main
        div.container-fluid
            div.col-lg-3.col-md-3.col-sm-3.col-xs-3
                div.accordion
                    h1 Бренд
                    div
                        div.checkbo
                            input(type="checkbox" id="111" name="option" value="a")
                            label(for="111") Checkbox No. 1
                        //input(type="checkbox" name="option1" value="a1") Content 1<br>
                        //input(type="checkbox" name="option2" value="a2") Content 1<br>
                        //input(type="checkbox" name="option3" value="a3") Content 1<br>
                    h1 Размер
                    div
                        a Content 2<br>
                        a Content 2<br>
                        a Content 2<br>
                        a Content 2<br>
                    h1 Цвет
                    div
                        a Content 3<br>
                        a Content 3<br>
                        a Content 3<br>
                        a Content 3<br>
                    h1 Аксессуары
                    div
                        a Content 4<br>
                        a Content 4<br>
                        a Content 4<br>
                        a Content 4<br>
                    h1 Сезон
                    div
                        a Content 5<br>
                        a Content 5<br>
                        a Content 5<br>
                        a Content 5<br>
                    h1 Состав
                    div
                        a Content 6<br>
                        a Content 6<br>
                        a Content 6<br>
                        a Content 6<br>
            div.col-lg-9.col-md-9.col-sm-9.col-xs-9
                div.sort
                    span Сортировать:
                    a по популярности
                    a по цене
                    a по рейтингу
                    a по отзывам
                    a по новизне
                div.row
                    div.col-lg-4.col-md-4.col-sm-6.col-xs-12
                        div.goodsBlock
                            div.marker.red sale
                            img.img-responsive.cover(src="images/11.png")
                            div.namePrice
                                div Артикул 30530101
                                p Пальто mango
                                hr.line
                                span 2700 грн
                                strike 3100 грн
                    div.col-lg-4.col-md-4.col-sm-6.col-xs-12
                        div.goodsBlock
                            div.marker.green -30%
                            img.img-responsive.cover(src="images/11.png")
                            div.namePrice
                                div Артикул 30530101
                                p Пальто mango
                                hr.line
                                span 2700 грн
                                strike 3100 грн
                    div.col-lg-4.col-md-4.col-sm-6.col-xs-12
                        div.goodsBlock
                            div.marker.blue new
                            img.img-responsive.cover(src="images/11.png")
                            div.namePrice
                                div Артикул 30530101
                                p Пальто mango
                                hr.line
                                span 2700 грн
                    div.col-lg-4.col-md-4.col-sm-6.col-xs-12
                        div.goodsBlock
                            div.marker.red sale
                            img.img-responsive.cover(src="images/11.png")
                            div.namePrice
                                div Артикул 30530101
                                p Пальто mango
                                hr.line
                                span 2700 грн
                                strike 3100 грн
                div.row
                    div.col-lg-12.col-md-12.col-sm-12.col-xs-12.center
                        div.paginat


