extends ../layout/layout
block content
    include ../mixins/mixins
    div.main
        div.container-fluid
            div.col-lg-3.col-md-3.col-sm-3.col-xs-3
                div 1
            div.col-lg-9.col-md-9.col-sm-9.col-xs-9
                div 1