mixin navAdmin(name, code)
    li.nav-item(role="presentation")&attributes(attributes)
        a(href= '/admin/' + code)
            span.nav-icon
                i.fa.fa-cube
            span.nav-text= name
