<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <table class="table table-grid">
            <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Телефон</th>
                <th>Страна</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Вася</td>
                <td>Васин</td>
                <td>380999999999</td>
                <td>Украина</td>
                <td><button class="btn btn-default btn-sm" ng-click="" modal="userAdmin">Edit</button></td>
                <td><button class="btn btn-default btn-sm" ng-click="">Remove</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>