extends ../layout/layout
block content
    form(action="/auth" method="POST")
        input(type="text" name="email" placeholder="E-mail")
        input(type="text" name="password" placeholder="Password")
        input(type="submit" value="Login")
    - if(messages)
        p #{messages.error}