<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/bower_components/jquery-nice-select/css/nice-select.css">
    <link rel="stylesheet" href="/bower_components/smSlider/smSlider/css/smslider.css">
    <link rel="stylesheet" href="/bower_components/woco-accordion/woco-accordion.min.css">
    <link rel="stylesheet" href="/bower_components/simplePagination.js/simplePagination.css">
    <link rel="stylesheet" href="/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/bower_components/Smoothproducts/css/smoothproducts.css">
    <link rel="stylesheet" href="/styles/budicon.css">
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
<div class="prevs">
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="cutTime">
                <li id="currency" class="current">
                    <select class="sel">
                        <option></option>
                        <option>UAH</option>
                        <option>RUR</option>
                        <option>USD</option>
                    </select>
                </li>
                <li class="icon">
                    <div class="s-4"></div>
                </li>
                <li class="time">
                    <p>09:00 - 17:00</p>
                </li>
                <li id="clock" class="placeTime">
                    <p>Киев 00:39</p>
                </li>
                <li class="singIn pull-right">
                    <button type="button" data-toggle="modal" data-target=".login-modal" class="btn btn-drul dark">войти</button>
                </li>
                <li class="singUp pull-right">
                    <button type="button" data-toggle="modal" data-target=".register-modal" class="btn btn-drul">регистрация</button>
                </li>
                <li class="icon iconRig pull-right">
                    <div class="s-3"></div>
                </li>
                <li class="icon iconRig pull-right">
                    <div class="s-2"></div>
                </li>
                <li class="icon iconRig pull-right">
                    <div class="s-1"></div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="navv">
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="logoWrapper">
                <div class="logo"></div>
            </div>
            <ul class="navigation">
                <li>одежда</li>
                <li>аксессуары</li>
                <li>сумки</li>
                <li>обувь</li>
            </ul>
            <section>
                <!--span.tooltip-->
                <div id="slider"></div>
                <div class="volume s-7"></div>
            </section>
        </div>
    </div>
</div>
<div id="sm_slider">
    <ul>
        <li class="pad35">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <div class="bigBlock">
                        <div class="marker blue">new</div><img src="images/11.png" class="img-responsive cover">
                        <div class="bigNamePrice"><span>Пальто Mango</span><br><span>2700 грн</span></div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div class="row step">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="littleBlock">
                                <div class="marker blue">new</div><img src="images/11.png" class="img-responsive cover">
                                <div class="littleNamePrice"><span>Пальто Mango</span><br><span>2700 грн</span></div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="littleBlock">
                                <div class="marker red">sale</div><img src="images/11.png" class="img-responsive cover">
                                <div class="littleNamePrice"><span>Пальто Mango</span><br><span>2700 грн</span>
                                    <strike>3100 грн</strike>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="littleBlock">
                                <div class="marker green">-30%</div><img src="images/11.png" class="img-responsive cover">
                                <div class="littleNamePrice"><span>Пальто Mango</span><br><span>2700 грн</span>
                                    <strike>3100 грн</strike>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="littleBlock">
                                <div class="marker blue">new</div><img src="images/11.png" class="img-responsive cover">
                                <div class="littleNamePrice"><span>Пальто Mango</span><br><span>2700 грн</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="pad35">2</li>
        <li class="pad35">3</li>
    </ul>
</div>
<!--VIEW-->
<div class="footer">
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="logoWrapper2">
                <div class="logo"></div>
                <ul class="social">
                    <li><i class="fa fa-twitter"></i></li>
                    <li><i class="fa fa-facebook"></i></li>
                    <li><i class="fa fa-instagram"></i></li>
                    <li><i class="fa fa-dribbble"></i></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" class="modal fade register-modal">
    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
    <div role="document" class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="butRegLogWrap">
                        <button id="toLogin" class="logRegBut">войти</button>
                        <button class="logRegBut active">регистрация</button>
                    </div>
                    <div class="inputRegLogWrap">
                        <input placeholder="Имя">
                        <input placeholder="Фамилия">
                        <input placeholder="Эл. почта">
                        <input placeholder="Моб. номер">
                        <button class="btn-drul dark">Зарегистрироваться</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" class="modal fade login-modal">
    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
    <div role="document" class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="butRegLogWrap">
                        <button class="logRegBut active">войти</button>
                        <button id="toRegis" class="logRegBut">регистрация</button>
                    </div>
                    <div class="inputRegLogWrap">
                        <input placeholder="Имя">
                        <input placeholder="Фамилия">
                        <button class="btn-drul dark">Войти</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="/bower_components/smSlider/smSlider/jquery.smslider.min.js"></script>
<script src="/bower_components/jquery-nice-select/js/jquery.nice-select.min.js"></script>
<script src="/bower_components/woco-accordion/woco.accordion.js"></script>
<script src="/bower_components/simplePagination.js/jquery.simplePagination.js"></script>
<script src="/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js"></script>
<script src="/bower_components/Smoothproducts/js/smoothproducts.min.js"></script>
<script src="/ownjs/main.js"></script>
<script src="/js/index.js"></script>
</body>
</html>
