body{
    background: #fff;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #000000;
}
.prevs{
    height: 60px;
    background: transparent;
}
.prevs ul{
    margin: 0;
}
.prevs ul.cutTime>li{
    float: left;
    display: block;
}
.current{
    padding: 12px 0 5px 0;
}
.current .nice-select{
    color: #000;
    border: none;
    padding-left: 0px;
}
.current .nice-select:after{
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    height: 9px;
    width:9px;
    margin-top: -8px;
}
.current .nice-select .list{
    border-radius: 0;
    border: 1px solid #000;
}
.icon{
    margin-left: 25px;
    padding: 18px 0;
    font-size: 24px;
}
.time{
    margin-left: 15px;
    padding: 9px 0 7px 0;
    font-size: 16px;
}
.time > p:after{
    content: '|';
    color: #000;
    font-size: 24px;
    font-weight: 300;
    position: relative;
    top: 1px;
    margin: 0 8px;
}
.logoWrapper{
    width: 100%;
    text-align: center;
    margin-top: 35px;
}
.placeTime{
    padding: 17px 0 11px 0;
    font-size: 16px;
}
.btn-drul{
    border-radius: 0;
    padding: 10px 20px;
    font-size: 15px;
    border:1px solid #000;
    background: #fff;
    text-transform: uppercase;
    outline: 0 !important;
}
.btn-drul.dark{
    background: #000;
    color: #fff;
}
.singIn{
    padding: 7px 0;
}
.singUp{
    padding: 7px 0;
    margin-right: 5px;
}
.iconRig{
    margin-right: 25px;
    margin-left: 0;
}
.nav{
    height: 250px;
    background: #000;
    position: relative;
}
.list > li:first-child{
    display: none;
}
.navigation{
    width: 100%;
    color: rgb(75,75,75);
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    margin-top: 70px;
}
.navigation > li{
    display: inline;
    border-right: 1px solid rgb(30,30,30);
    padding: 22px 20px;
}
.navigation > li:last-child{
    border-right: 0px solid rgb(30,30,30);
}

.navigation > li:hover{
    color: #fff;
    cursor: pointer;
}
section {
    width: 100px;
    height: auto;
    /*margin: 100px auto 0;*/
    position: absolute;
    right: 20px;
}
#slider{
    width: 65px;
    position: absolute;
    height: 1px;
    background-color: rgba(51,51,51,1);
    right: 30px;
}
.volume {
    display: inline-block;
    right: -5px;
    position: absolute;
    margin-top: -13px;
    color: #fff;
    font-size: 20px;
}
.tooltip {
    position: absolute;
    display: block;
    top: -25px;
    width: 35px;
    height: 20px;
    color: #fff;
    text-align: center;
    font: 10pt Tahoma, Arial, sans-serif ;
    border-radius: 3px;
    border: 1px solid #333;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .3);
    box-sizing: border-box;
    background: linear-gradient(top, rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%);
}
.ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 12px;
    height: 12px;
    cursor: pointer;
    background-color: #000;
    border:1px solid #fff;
    border-radius: 25px;
    outline: none;
    top: -6px;
    margin-left: -12px;
}
.ui-slider-range {
    background: linear-gradient(top, #ffffff 0%,#eaeaea 100%);
    position: absolute;
    border: 0;
    top: 0;
    height: 100%;
    border-radius: 25px;
}
#sm_slider{
    background: url(../images/slideBack.jpg)no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    max-height: 560px;
}
#sm_slider > ul{
    margin-bottom: 0;
}
.sm_slide{
    height: 100%;
}
.pad35{
    padding: 35px;
 }

.bigBlock{
    height: 455px;
    position: relative;
}
.littleBlock{
    height: 210px;
    position: relative;
}
.bigBlock > img, .littleBlock > img{
    height: 100%;
    width:100%;
    object-position: 0 30%;
}
.cover{
    object-fit: cover;
}
.bigNamePrice{
    position: absolute;
    bottom: 0;
    font-size: 15px;
    width:100%;
    color: #fff;
    background: rgba(0,0,0,0.7);
    text-align: left;
    padding: 12px;
}
.littleNamePrice{
    position: absolute;
    bottom: 0;
    font-size: 15px;
    width:100%;
    color: #fff;
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(138,138,138,0.13) 20%, rgba(59,59,59,0.22) 35%, rgba(38,38,38,0.34) 54%, rgba(28,28,28,0.45) 71%, rgba(0,0,0,0.57) 90%, rgba(0,0,0,0.63) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(20%, rgba(138,138,138,0.13)), color-stop(35%, rgba(59,59,59,0.22)), color-stop(54%, rgba(38,38,38,0.34)), color-stop(71%, rgba(28,28,28,0.45)), color-stop(90%, rgba(0,0,0,0.57)), color-stop(100%, rgba(0,0,0,0.63)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(138,138,138,0.13) 20%, rgba(59,59,59,0.22) 35%, rgba(38,38,38,0.34) 54%, rgba(28,28,28,0.45) 71%, rgba(0,0,0,0.57) 90%, rgba(0,0,0,0.63) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(138,138,138,0.13) 20%, rgba(59,59,59,0.22) 35%, rgba(38,38,38,0.34) 54%, rgba(28,28,28,0.45) 71%, rgba(0,0,0,0.57) 90%, rgba(0,0,0,0.63) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(138,138,138,0.13) 20%, rgba(59,59,59,0.22) 35%, rgba(38,38,38,0.34) 54%, rgba(28,28,28,0.45) 71%, rgba(0,0,0,0.57) 90%, rgba(0,0,0,0.63) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(138,138,138,0.13) 20%, rgba(59,59,59,0.22) 35%, rgba(38,38,38,0.34) 54%, rgba(28,28,28,0.45) 71%, rgba(0,0,0,0.57) 90%, rgba(0,0,0,0.63) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
    text-align: left;
    padding: 12px;
}
.bigNamePrice > span:first-child, .littleNamePrice > span:first-child{
    text-transform: uppercase;
    font-weight: 100;
}
.bigNamePrice > span, .littleNamePrice > span, .namePrice > span{
    font-weight: 700;
}
.littleNamePrice > strike, .namePrice > strike{
    color: #a3a3a3;
    font-size: 12px;
    margin-left: 15px;
}
.marker{
    position: absolute;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    padding: 1px 4px;
}
.blue{
    background: #36a5ec;
}
.red{
    background: #ec3654;
}
.green{
    background: #2eb72e;
}
.step > .col-lg-6:first-child, .step > .col-lg-6:nth-child(2){
    margin-bottom: 35px;
}
.sm_nav {
    padding: 28px 0px;
    right: 47%;
}
.sm_nav-item {
    width: 25px;
}
.sm_nav-item i {
    display: block;
    width: 17px;
    height: 7px;
    background-color: #cecece;
    border-radius: 0;
}
.sm_nav-item.active i, .sm_nav-item:hover i {
    background-color: #000;
}
.sm_nav-item.active:hover i {
    background-color: #000;
}
.main{
    margin-top: 35px;
}
.accordion-header{
    background: #fff;
    min-height: 60px;
    padding: 22px;
    border: none;
}
.accordion-header h1{
    font-size: 14px;
    font-weight: 500;
}
.accordion-item{
    border: none;
    border-radius: 0;
}
.drawer{
    border: 1px solid #dedede;
    border-bottom: none;
    border-radius: 0;
}
.drawer:last-child{
    border-bottom: 1px solid #dedede;
}
.accordion-content {
    border: none;
}
.accordion-item-active .accordion-header {
    background: #f8f8f8;
}
.accordion-item-active .accordion-header h1 {
    color: #000;
}
.accordion-content {
    padding-top: 0;
    background: #f8f8f8;

}
.accordion-content > a{
    padding: 15px;
    color: #c3c3c3;
    display: block;
    text-decoration: none;
}
.sort{
    padding: 20px 0;
}
.sort > a{
    padding-left: 15px;
    color: #36a5ec;
    text-decoration: none;
}
.sort > a:first-child{
    padding-left: 10px;
}
.goodsBlock{
    position: relative;
    margin-bottom: 30px;
}
.goodsBlock > img{
    height: 280px;
    width: 100%
}
.namePrice{
    border: 1px solid #dedede;
    border-top: none;
    padding: 15px;
    font-size: 15px;
}
.namePrice > div{
    color: #c3c3c3;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 5px;
}
.namePrice > p{
    text-transform: uppercase;
}
.line{
    margin-top: 10px;
    margin-bottom: 15px;
    border-top: 1px solid #dedede;
}
.paginat > ul{

}
.paginat .prev, .paginat .next{
    display: none;
}
.light-theme > ul > li >a{
    border: none;
    border-radius: 0;
    box-shadow: none;
    background: none;
    color: #000;
    padding: 7px 15px;
    font-weight: 500;
}
.light-theme .current {
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 7px 15px;
    background: #000;
}
.s-1, .s-2, .s-3, .s-4, .s-5, .s-6, .s-7, .logo, .logo-2{
    background: url(../images/sprites.png) no-repeat;
}

.s-1{
    background-position: 0 0;
    width: 19px;
    height: 20px;
}

.s-2{
    background-position: -25px 0;
    width: 23px;
    height: 21px;
}

.s-3{
    background-position: -50px 0;
    width: 18px;
    height: 21px;
}

.s-4{
    background-position: -72px 0;
    width: 22px;
    height: 22px;
}

.s-5{
    background-position: 0 -26px ;
    width: 11px;
    height: 6px;
}

.s-6{
    background-position: -97px 0;
    width: 21px;
    height: 23px;
}

.s-7{
    background-position: -124px 1px;
    width: 21px;
    height: 23px;
}

.logo{
    background-position: -145px 0;
    width: 73px;
    height: 76px;
    margin: 0 auto;
}

.logo-2{
    background-position: -225px 0;
    width: 73px;
    height: 65px;
    margin: 0 auto;
}
.footer{
    background: #000;
    height: 320px;
    margin-top: 150px
}
.logoWrapper2{
    width: 100%;
    text-align: center;
    margin-top: 70px;
}
.social{
    color: #fff;
    font-size: 22px;
    margin-top: 65px;
}
.social > li{
    display: inline;
    margin-left: 40px;
}
.social > li:first-child{
    display: inline;
    margin-left: 0;
}
