.borderTop{
    border-top: 1px solid rgba(22,24,27,.12);
    margin-top: 40px;
}
.marTop40{
    margin-top: 40px;
}
.greenReq{
    color:#219161;
}
.yellowReq{
    color:#ebcc18;
}
.redReq{
    color:#cc4646;
}
.disInl{
    display: inline-block;
    margin-right: 10px;
}
.uaFlag:before{
    background-image: url("../images/uaFlag.png");
    background-size: 14px 14px;
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    content: "";
    bottom: -2px;
    margin-right: 5px;
}
.rusFlag:before{
    background-image: url("../images/rusFlag.png");
    background-size: 14px 14px;
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    content: "";
    bottom: -2px;
    margin-right: 5px;
}
.comment-avatar {
    float: left;
    max-width: 70px;
}
.comment-avatar img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.comment-content {
    margin-left: 100px;
    margin-bottom: 10px;
}
.comment-author {
    margin: 0 0 20px;
}
.comment-author a {
    color: #111;
}
.font-alt{
    text-transform: uppercase;
    letter-spacing: 2px;
}
.comment-meta {
    font-size: 12px;
}