doctype html
html
    head
        title #{title}
        link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&subset=cyrillic" rel="stylesheet")
        link(rel="stylesheet" href="/styles/reset.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css")
        link(rel="stylesheet" href="/bower_components/jquery-nice-select/css/nice-select.css")
        link(rel="stylesheet" href="/bower_components/smSlider/smSlider/css/smslider.css")
        link(rel="stylesheet" href="/bower_components/woco-accordion/woco-accordion.min.css")
        link(rel="stylesheet" href="/bower_components/simplePagination.js/simplePagination.css")
        link(rel="stylesheet" href="/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css")
        link(rel="stylesheet" href="/bower_components/Smoothproducts/css/smoothproducts.css")
        link(rel="stylesheet" href="/styles/budicon.css")
        link(rel="stylesheet" href="/styles/index.css")
    body
        div.prevs
            div.container-fluid
                div.col-lg-12.col-md-12.col-sm-12.col-xs-12
                    ul.cutTime
                        li.current#currency
                            select.sel
                                option(data-display="#{data.currency}")
                                option UAH
                                option RUR
                                option USD
                        li.icon
                            div.s-4
                        li.time
                            p 09:00 - 17:00
                        li.placeTime#clock
                            p Киев 00:39
                        li.singIn.pull-right
                            button.btn.btn-drul.dark(type="button") войти
                        li.singUp.pull-right
                            button.btn.btn-drul(type="button") регистрация
                        li.icon.iconRig.pull-right
                            div.s-3
                        li.icon.iconRig.pull-right
                            div.s-2
                        li.icon.iconRig.pull-right
                            div.s-1
        div.nav
            div.container-fluid
                div.col-lg-12.col-md-12.col-sm-12.col-xs-12
                    div.logoWrapper
                        div.logo
                    ul.navigation
                        li одежда
                        li аксессуары
                        li сумки
                        li обувь
                    section
                        //span.tooltip
                        div#slider
                        div.volume.s-7
        div#sm_slider
            ul
                li.pad35
                    div.row
                        div.col-lg-7.col-md-7.col-sm-7.col-xs-7
                            div.bigBlock
                                div.marker.blue new
                                img.img-responsive.cover(src="images/11.png")
                                div.bigNamePrice
                                    span Пальто Mango
                                    br
                                    span 2700 грн
                        div.col-lg-5.col-md-5.col-sm-5.col-xs-5
                            div.row.step
                                div.col-lg-6.col-md-6.col-sm-6.col-xs-6
                                    div.littleBlock
                                        div.marker.blue new
                                        img.img-responsive.cover(src="images/11.png")
                                        div.littleNamePrice
                                            span Пальто Mango
                                            br
                                            span 2700 грн
                                div.col-lg-6.col-md-6.col-sm-6.col-xs-6
                                    div.littleBlock
                                        div.marker.red sale
                                        img.img-responsive.cover(src="images/11.png")
                                        div.littleNamePrice
                                            span Пальто Mango
                                            br
                                            span 2700 грн
                                            strike 3100 грн
                                div.col-lg-6.col-md-6.col-sm-6.col-xs-6
                                    div.littleBlock
                                        div.marker.green -30%
                                        img.img-responsive.cover(src="images/11.png")
                                        div.littleNamePrice
                                            span Пальто Mango
                                            br
                                            span 2700 грн
                                            strike 3100 грн
                                div.col-lg-6.col-md-6.col-sm-6.col-xs-6
                                    div.littleBlock
                                        div.marker.blue new
                                        img.img-responsive.cover(src="images/11.png")
                                        div.littleNamePrice
                                            span Пальто Mango
                                            br
                                            span 2700 грн
                li.pad35 2
                li.pad35 3

        block content
        div.footer
            div.container-fluid
                div.col-lg-12.col-md-12.col-sm-12.col-xs-12
                    div.logoWrapper2
                        div.logo
                        ul.social
                            li
                                i.fa.fa-twitter
                            li
                                i.fa.fa-facebook
                            li
                                i.fa.fa-instagram
                            li
                                i.fa.fa-dribbble

script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
script(src="/bower_components/smSlider/smSlider/jquery.smslider.min.js")
script(src="/bower_components/jquery-nice-select/js/jquery.nice-select.min.js")
script(src="/bower_components/woco-accordion/woco.accordion.js")
script(src="/bower_components/simplePagination.js/jquery.simplePagination.js")
script(src="/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js")
script(src="/bower_components/Smoothproducts/js/smoothproducts.min.js")
script(src="/ownjs/main.js")
script(src="/js/index.js")
