doctype html
html
    head
        title #{title}
        //favicon.ico and apple-touch-icon.png
        link(rel="apple-touch-icon", sizes="57x57", href="/images/favicons/apple-touch-icon-57x57.png")
        link(rel="apple-touch-icon", sizes="60x60", href="/images/favicons/apple-touch-icon-60x60.png")
        link(rel="apple-touch-icon", sizes="72x72", href="/images/favicons/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon", sizes="76x76", href="/images/favicons/apple-touch-icon-76x76.png")
        link(rel="apple-touch-icon", sizes="114x114", href="/images/favicons/apple-touch-icon-114x114.png")
        link(rel="apple-touch-icon", sizes="120x120", href="/images/favicons/apple-touch-icon-120x120.png")
        link(rel="apple-touch-icon", sizes="144x144", href="/images/favicons/apple-touch-icon-144x144.png")
        link(rel="apple-touch-icon", sizes="152x152", href="/images/favicons/apple-touch-icon-152x152.png")
        link(rel="icon", type="image/png", href="/images/favicons/favicon-32x32.png", sizes="32x32")
        link(rel="icon", type="image/png", href="/images/favicons/favicon-96x96.png", sizes="96x96")
        link(rel="icon", type="image/png", href="/images/favicons/favicon-16x16.png", sizes="16x16")
        link(rel="manifest", href="/images/favicons/manifest.json")
        meta(name="msapplication-TileColor", content="#2d89ef")
        meta(name="msapplication-TileImage", content="/images/favicons/mstile-144x144.png")
        meta(name="theme-color", content="#ffffff")

        link(href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,700,600,300", rel="stylesheet")
        link(rel="stylesheet", href="/styles/bootstrap.css")
        link(rel="stylesheet", href="/styles/dependencies.css")
        link(rel="stylesheet", href="/styles/wrapkit.css")
        link(rel="stylesheet", href="/styles/ownstyle.css")
        link(rel="stylesheet", href="/bower_components/jquery-treegrid/css/jquery.treegrid.css")
    body
        main.wrapkit-wrapper(id="wrapper")
            include ../common/headerAdmin
            block content
            include ../common/footerAdmin

script(src="/js/vendor.js")
script(src="/js/dependencies.js")
script(src="/js/wrapkit.js")
script(src="/js/wrapkit-setup.js")
script(src="/js/plugin-setups.js")
script(src="/js/dataTables.bootstrap.js")
script(src="/js/dataTables.tableTools.js")
script(src="/js/jquery.validate.js")
script(src="/js/bootbox.js")
script(src="/js/main.js")
script(src="/ownjs/table-datatables-extras.js")
script(src="/ownjs/table-datatables-demo.js")
script(src="/bower_components/jquery-treegrid/js/jquery.treegrid.min.js")
script(src="/ownjs/detalUser.js")
script(src="/ownjs/categ.js")
