<div class="main">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="accordion">
            <uib-accordion close-others="true">
                <div uib-accordion-group class="panel-default category" ng-repeat="category in $ctrl.categories" heading="{{category.name}}">
                    <a href="{{'#/category/' + subcat.link}}" ng-repeat="subcat in category.subcat">{{subcat.name}}</br></a>
                </div>
            </uib-accordion>

            <!--<h1>Повседневная одежда</h1>-->
            <!--<div><a>Content 1<br></a><a>Content 1<br></a><a>Content 1<br></a><a>Content 1<br></a></div>-->
            <!--<h1>Верхняя оджеда</h1>-->
            <!--<div><a>Content 2<br></a><a>Content 2<br></a><a>Content 2<br></a><a>Content 2<br></a></div>-->
            <!--<h1>Обувь</h1>-->
            <!--<div><a>Content 3<br></a><a>Content 3<br></a><a>Content 3<br></a><a>Content 3<br></a></div>-->
            <!--<h1>Аксессуары</h1>-->
            <!--<div><a>Content 4<br></a><a>Content 4<br></a><a>Content 4<br></a><a>Content 4<br></a></div>-->
            <!--<h1>Сумки</h1>-->
            <!--<div><a>Content 5<br></a><a>Content 5<br></a><a>Content 5<br></a><a>Content 5<br></a></div>-->
            <!--<h1>Спортивная одежда</h1>-->
            <!--<div><a>Content 6<br></a><a>Content 6<br></a><a>Content 6<br></a><a>Content 6<br></a></div>-->
        </div>
    </div>
</div>
