<div class="office">
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1>личный кабинет</h1>
            <uib-tabset>
                <uib-tab>
                    <uib-tab-heading>
                        Профиль
                    </uib-tab-heading>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Страна</td>
                            <td>
                                <div class="checkbo">
                                    <input type="radio" id="111" name="option" value="a"/>
                                    <label for="111"></label><span>Украина</span>
                                    <input type="radio" id="11" name="option" value="a"/>
                                    <label for="11"></label><span>Россия</span>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Имя</td>
                            <td><div class="form-group">
                                <input class="form-control" placeholder="Имя">
                            </div></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Фамилия</td>
                            <td><div class="form-group">
                                <input class="form-control" placeholder="Фамилия">
                            </div></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Моб. номер</td>
                            <td><div class="form-group">
                                <input data-mask="phone_us" class="form-control" placeholder="Моб. номер">
                            </div></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Эл. почта</td>
                            <td><div class="form-group">
                                <input class="form-control" placeholder="Эл. почта">
                            </div></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Пароль</td>
                            <td><div class="form-group">
                                <input type="password" class="form-control" placeholder="Пароль">
                            </div></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button type="button" class="btn btn-drul dark">Сохранить</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </uib-tab>
                <uib-tab>
                    <uib-tab-heading>
                        Корзина
                    </uib-tab-heading>
                    <table class="table custom">
                        <thead>
                            <tr>
                                <td>Товар</td>
                                <td>Цена</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="marker red">sale</div>
                                    <img src="assets/images/11.png" class="img-responsive cover" alt=""></td>
                                <td>
                                    <div class="namePrice">
                                        <div>Артикул 30530101</div>
                                        <p>пальто maria velada</p>
                                        <div class="params">
                                            <div>Состав</div>
                                            <div>Шерсть - 56%, Вискоза - 44%</div>
                                            <div>Размер</div>
                                            <div>42</div>
                                            <div>Цвет</div>
                                            <div>Бежевый</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </ul>
                </uib-tab>
                <uib-tab>
                    <uib-tab-heading>
                        Отложенные
                    </uib-tab-heading>
                    222555
                </uib-tab>
                <uib-tab>
                    <uib-tab-heading>
                        История покупок
                    </uib-tab-heading>
                    222555
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>